{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5">PANTALONES</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Agregar pantalon: </h2></td>
        <td>
            <a
            href="{% url 'pant_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Articulo</th>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Talle</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for p in pantalon_list  %}
        <tr>
            <td>
                {% if p.imagenArticulo %}
                    <p>
                        <img src="{{p.imagenArticulo.url}}" height="200px" weight="200px"/>
                    </p> 
                {% endif %}
            </td>
            <td>{{ p.articulo}}</td>
            <td>{{ p.categoria }}</td>
            <td>{{ p.modelo }}</td>
            <td>{{ p.talle }}</td>
            <td>
                <a
                  href= "{% url 'pant_update'  pk=p.pk %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'pant_delete' pk=p.pk %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}